body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #48555b;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p,
ul,
ol,
li,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

/* =========== WELCOME ===========  */

.welcome {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #022027;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header {
  padding-top: 30px;
}

.welcome-title {
  margin-top: 307px;
  margin-bottom: 160px;
}

.welcome-title h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: Abhaya Libre, serif;
  font-weight: 400;
  letter-spacing: 5.7px;
  margin-bottom: 30px;
}

.welcome-title h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: -40px;
  margin-bottom: 220px;
}

.scroll {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 3.7px;
}

/* =========== /WELCOME ===========  */

hr {
  height: 1px;
  background-color: #e6e6e6;
  border: none;
}

/* =========== NAVBAR ===========  */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0;
}

.nav-item {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 40px;
  letter-spacing: 1.09px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #48555b;
  position: relative;
}

.nav-link:hover {
  color: #00a4e5;
}

.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #00a4e5;
}

/* =========== /NAVBAR ===========  */

/* =========== MAIN ===========  */

/* =========== STORY ===========  */
.main-wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.story {
  margin-top: 74px;
}

.header-story {
  text-align: center;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.header-story::after {
  content: "";
  position: absolute;
  background-color: #00a4e5;
  bottom: -14px;
  width: 55px;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
}

.main-story {
  display: flex;
  margin-top: 53px;
}

.story-wrapper {
  width: 50%;
  padding-right: 65px;
}

.story-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: 0.7px;
}

.story-title span {
  color: #00a4e5;
}

.story-text {
  letter-spacing: 0.2px;
  line-height: 23px;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.img-first,
.img-second {
  margin-right: 20px;
}

.img-first,
.img-second,
.img-third {
  padding: 15px 15px 0 15px;
  min-width: 140px;
  height: 224px;
  box-sizing: border-box;
}

.img-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 29px;
  color: #fff;
}

.img-first {
  background-image: url(../img/plan.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #022027;
}

.img-second {
  background-image: url(../img/manage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #022027;
}

.img-third {
  background-image: url(../img/build.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #022027;
}

/* =========== /STORY ===========  */

/* =========== CAPABILITIES ===========  */

.capabilities {
  margin-top: 120px;
  margin-bottom: 120px;
}

.header-capabilities {
  display: flex;
  margin-bottom: 25px;
  padding: 0 15px 0 15px;
}

.title-capabilities {
  position: relative;
  min-width: 200px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.title-capabilities::after {
  content: "";
  position: absolute;
  background-color: #00a4e5;
  bottom: 0;
  width: 50px;
  height: 2px;
  top: 25px;
  left: 25px;
  transform: translate(-50%);
}

/* ===================================== */

.discription-capabilities {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  padding-left: 45px;
  padding-right: 45px;
}

/* ===================================== */


.button {
  min-width: 150px;
  max-width: 150px;
  height: 40px;
  background-color: #00a4e5;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.button:hover {
  background-color: #607c83;
}

.link_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================================== */


.main-capabilities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: calc(100% / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px solid #e6e6e6;
  padding: 25px 15px 35px;
}

.card:last-child {
  margin-right: 0;
}

.title-card {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  text-transform: uppercase;
}

.discription-card {
  line-height: 23px;
  letter-spacing: 0.1875px;
}

/* =========== /CAPABILITIES ===========  */

/* =========== GET IN TOUCH ===========  */

.get-in-touch {
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 499px;

  background-image: url(../img/bg-down.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #607c83;
}

.get-in-touch-title {
  display: flex;
  align-items: center;
  text-align: center;
  width: 350px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.get-in-touch-title h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

/* =========== /GET IN TOUCH ===========  */

/* =========== SUBSCRIPTION ===========  */

.subscription {
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  background-color: #171819;
}

.sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.title-subscription {
  display: flex;
  align-items: center;
  width: 220px;
  margin-right: 60px;
}

.title-subscription h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #fff;
}

.field-subscription {
  box-sizing: border-box;
  max-width: 250px;
  height: 40px;
  border: 1px solid #979797;
  padding: 9px 90px 10px 15px;

  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
  background-color: #fff;
}

.sub_btn {
  margin-left: -5px;
}

/* =========== / SUBSCRIPTION ===========  */

/* =========== / MAIN ===========  */

/* =========== FOOTER ===========  */


.footer-top {
  background-color: #141a20;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.846154px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.footer-top-wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  padding: 0 15px 0 15px;
}

.company {
  width: 250px;
  margin-right: 71px;
}

.header-footer-top {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
  padding-bottom: 19px;
}

.info-company-text {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
}

.info-company-logo {
  margin-bottom: 15px;
}

/* ===================================== */

.links {
  max-width: 262px;
  margin-right: 58px;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
}

.links-item {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 35px;
}

.links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  color: #ffffff;
}

/* ===================================== */

.contact-us {
  max-width: 125px;
  margin-right: 46px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-link {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.85px;
  color: #ffffff;
  margin-bottom: 25px;
}

.contact-link:last-child {
  margin-bottom: 0;
}

/* ===================================== */

.list-socials {
  display: flex;
  padding-top: 30px;
}

.socials-item {
  padding-right: 30px;
}

.socials-item:last-child {
  padding-right: 0;
}

.socials-link {
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #141a20;
  background-position: center;
}

.socials-link-twitter {
  background-image: url(../svg/tw.svg);
}

.socials-link-facebook {
  background-image: url(../svg/fb.svg);
}

.socials-link-inst {
  background-image: url(../svg/inst.svg);
}

/* ===================================== */

.copyright {
  background-color: #171819;
  text-align: center;
  padding: 12px 0;
}

.copyright p {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.846154px;
  margin-left: 14px;
  color: #fff;
}

/*@media screen and (min-width: 320px) and (max-width: 479px) {
}
*/

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-top-wrapper {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .welcome-title {
    margin-top: 245px;
    margin-bottom: 180px;
  }

  .main-story {
    flex-wrap: wrap;
    justify-content: center;
  }

  .story-wrapper {
    width: 90%;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .story-title {
    margin-bottom: 15px;
  }

  .main-capabilities {
    flex-wrap: wrap;
  }

  .list-socials {
    flex-direction: column;
  }

  .socials-item {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .socials-item:last-child {
    padding-bottom: 0;
  }
}